.Layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: Roboto;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
  color: #fff;

}

