
.wrapper {
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
}

.checkbox_inp, .super_input  {
    position: relative;
    display: inline-block;
}

.checkbox_inp:before  {
 
    content: "";
    display: inline-block;    
    height: 16px;
    width: 16px;    
    border: 1px solid black;
    position: absolute;   
    left: -25px;
    top: 0;
    border-radius:50%;

}
.super_input::before  {
 
    content: "";
    display: inline-block;    
    height: 16px;
    width: 16px;    
    border: 1px solid gray;
    position: absolute;   
    border-radius:50%;
    left: -25px;
    top: 0;
    background-color: red;
    transition: all 0.5s ease;
}
.super_input::after {
    position: absolute;
    content: "";
    display: inline-block;
    left: -20px;
	top: 5px;
    height: 8px;
    width: 8px;
    background-color: #fff;
    border-radius: 50%;
    
    opacity: 1;
    transition: all 0.5s ease;
}

.checkbox_inp input[type="radio"], .super_input input[type="radio"]{
    position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	
}
